# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# MacOS-specific files
.DS_Store

# Debugger configurations
.idea/
.vscode/

# npm or yarn caches
.npm/
.yarn/

# Optional npm cache directory
.npm-cache/

# Operating System files
Thumbs.db
